# Loan Eligibility Prediction

### import require packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.pandas.set_option('display.max_columns',None)

# 1. Load the Dataset

In [2]:
df = pd.read_csv("Loan_default.csv")

# 2. Perform Exploratory Data Analysis or Data preprocessing

In [3]:
df.shape

(255347, 18)

In [4]:
df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56.0,85994.0,50587.0,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69.0,50432.0,124440.0,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46.0,84208.0,129188.0,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32.0,31713.0,44799.0,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60.0,20437.0,9139.0,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,NaN,0


In Data Analysis We will Analyze To Find out the below stuff
    1. Missing Values
    2. All The Numerical Variables
    3. Distribution of the Numerical Variables
    4. Categorical Variables
    5. Cardinality of Categorical Variables
    6. Outliers
    7. Relationship between independent and dependent feature(SalePrice)

## 1. Missing Values

In [5]:
df.isnull().sum()

LoanID             0
Age               21
Income            51
LoanAmount         1
CreditScore        0
MonthsEmployed     0
NumCreditLines     0
InterestRate       0
LoanTerm           0
DTIRatio           1
Education         14
EmploymentType     0
MaritalStatus     26
HasMortgage       15
HasDependents     25
LoanPurpose       34
HasCoSigner       12
Default            0
dtype: int64

## Here we will check the percentage of nan values present in each feature
## 1 -step make the list of features which has missing values
features_with_na=[features for features in df.columns if df[features].isnull().sum()>1]
## 2- step print the feature name and the percentage of missing values

for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean(), 4),  ' % missing values')

In [6]:
# Fill value by mean mode 

df['Income'].fillna(df['Income'].mean(), inplace=True)

df['Age'].fillna(df['Age'].mode()[0], inplace=True)
df['Education'].fillna(df['Education'].mode()[0],inplace=True)
df['MaritalStatus'].fillna(df['MaritalStatus'].mode()[0],inplace=True)
df['HasMortgage'].fillna(df['HasMortgage'].mode()[0],inplace=True)
df['HasDependents'].fillna(df['HasDependents'].mode()[0],inplace=True) 
df['HasDependents'].fillna(df['HasDependents'].mode()[0],inplace=True)                        

df.dropna(axis=0, inplace=True)

In [7]:
df.isnull().sum()

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [8]:
df = df.drop(['LoanID'], axis=1)
df.columns

Index(['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'LoanTerm', 'DTIRatio', 'Education',
       'EmploymentType', 'MaritalStatus', 'HasMortgage', 'HasDependents',
       'LoanPurpose', 'HasCoSigner', 'Default'],
      dtype='object')

## 2. Numerical Variables

# list of numerical variables
numerical_features = [feature for feature in df.columns if df[feature].dtypes != 'O']

print('Number of numerical variables: ', len(numerical_features))

# visualise the numerical variables
df[numerical_features].head()

## Numerical variables are usually of 2 type
## 1. Continous variable and Discrete Variables

discrete_feature=[feature for feature in numerical_features if len(df[feature].unique())<25]
print("Discrete Variables Count: {}".format(len(discrete_feature)))

### Discrete variable

discrete_feature

df[discrete_feature].head()

## Lets Find the realtionship between them and Loan eligibility

for feature in discrete_feature:
    data = df.copy()
    
    plt.figure(figsize=(10, 6))
    sns.countplot(x=feature, hue='Default', data=data, palette='viridis')
    
    plt.xlabel(feature)
    plt.ylabel('Count')
    plt.title(f'Count of Default Categories by {feature}')
    plt.legend(title='Default', loc='upper right')
    plt.show()

### Continuous Variable

continuous_feature=[feature for feature in numerical_features if feature not in discrete_feature]
print("Continuous feature Count {}".format(len(continuous_feature)))

## Lets analyse the continuous values by creating histograms to understand the distribution

for feature in continuous_feature:
    data=df.copy()
    data[feature].hist(bins=25)
    plt.xlabel(feature)
    plt.ylabel("Count")
    plt.title(feature)
    plt.show()

for feature in continuous_feature:
    data = df.copy()
    if 0 in data[feature].unique():
        pass
    else:
        data[feature] = np.log1p(data[feature])  # Use log1p to handle zero values
        plt.scatter(data[feature], data['Default'])
        plt.xlabel(feature)
        plt.ylabel('Default')
        plt.title(f'Log-transformed {feature} vs Default')
        plt.show()

## 3.Outliers

# Plot boxplots for log-transformed features
for feature in continuous_feature:
    data = df.copy()
    if 0 in data[feature].unique():
        pass
    else:
        data[feature] = np.log1p(data[feature])  # Use log1p to handle zero values
        data.boxplot(column=feature)
        plt.ylabel(feature)
        plt.title(f'Log-transformed {feature}')
        plt.show()

### Categorical Variables

categorical_features=[feature for feature in df.columns if data[feature].dtypes=='O']

if 'LoanID' in categorical_features:
    categorical_features.remove('LoanID')

categorical_features
categorical_features

df[categorical_features].head()

for feature in categorical_features:
    print('The feature is {} and number of categories are {}'.format(feature,len(df[feature].unique())))

### Find out the relationship between categorical variable and dependent feature Default

# Plot default rate (mean of 'Default') for each categorical feature
for feature in categorical_features:
    data = df.copy()
    default_rate = data.groupby(feature)['Default'].mean()
    default_rate.plot(kind='bar')
    plt.xlabel(feature)
    plt.ylabel('Default Rate')
    plt.title(f'Default Rate by {feature}')
    plt.show()

## 4. Label encoding

## 5. Deal with imbalanced Data (SMOTE)

In [9]:
# pip install imbalanced-Learn

class_0_count, class_1_count = df['Default'].value_counts()

# separate  the class 1, 0 into 2 df
df_class_0 = df[df['Default']==0]
df_class_1 = df[df['Default']==1]

print(df_class_0['Default'].value_counts())
print(df_class_1['Default'].value_counts())

0    225650
Name: Default, dtype: int64
1    29649
Name: Default, dtype: int64

In [10]:
## class 0 ==> 60000
#  class 1 ==> 29649
# merge together

df_class_0 = df_class_0.sample(60000)

df2 = pd.concat([df_class_1, df_class_0],axis= 0)

df2.to_csv("Default_Loan.csv")
len(df2)

89649

## save the model