# Loan Eligibility Prediction

### import require packages

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load the Dataset

In [17]:
df = pd.read_csv("Loan_default.csv")

### Perform Exploratory Data Analysis

In [18]:
df.head(50)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56.0,85994.0,50587.0,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69.0,50432.0,124440.0,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46.0,84208.0,129188.0,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32.0,31713.0,44799.0,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60.0,20437.0,9139.0,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,NaN,0
5,A9S62RQ7US,25.0,90298.0,90448.0,720,18,2,22.72,24,0.10,High School,Unemployed,NaN,Yes,No,Business,Yes,1
6,H8GXPAOS71,38.0,111188.0,177025.0,429,80,1,19.11,12,0.16,NaN,Unemployed,Single,Yes,No,Home,Yes,0
7,0HGZQKJ36W,56.0,126802.0,155511.0,531,67,4,8.15,60,0.43,PhD,Full-time,Married,No,No,Home,Yes,0
8,1R0N3LGNRJ,36.0,42053.0,92357.0,827,83,1,23.94,48,0.20,Bachelor's,Self-employed,Divorced,Yes,No,Education,No,1
9,CM9L1GTT2P,40.0,132784.0,228510.0,480,114,4,9.09,48,0.33,High School,Self-employed,Married,Yes,No,Other,Yes,0
10,IA35XVH6ZO,28.0,140466.0,163781.0,652,94,2,9.08,48,0.23,High School,Unemployed,Married,NaN,No,Education,No,0
11,Y8UETC3LSG,28.0,149227.0,139759.0,375,56,3,5.84,36,0.80,PhD,Full-time,Divorced,No,No,Education,Yes,1
12,RM6QSRHIYP,41.0,23265.0,63527.0,829,87,4,9.73,60,0.45,Master's,Full-time,Divorced,Yes,No,NaN,Yes,0
13,GX5YQOGROM,53.0,117550.0,95744.0,395,112,4,3.58,24,0.73,High School,Unemployed,Single,No,No,Auto,Yes,0
14,X0BVPZLDC0,57.0,139699.0,88143.0,635,112,4,5.63,48,0.20,Master's,Part-time,Divorced,No,No,Home,No,0
15,O5DM5MPPNA,41.0,74064.0,230883.0,432,31,2,5.00,60,0.89,Master's,Unemployed,Married,Yes,No,Auto,No,0
16,ZDDRGVTEXS,20.0,119704.0,25697.0,313,49,1,9.63,24,0.28,PhD,Unemployed,Single,Yes,No,Home,No,0
17,9V0FJW7QPB,39.0,NaN,10889.0,811,106,2,13.56,60,0.66,Master's,Self-employed,Single,Yes,No,Other,No,0
18,O1IKKLC69B,19.0,40718.0,78515.0,319,119,2,14.00,24,0.17,Bachelor's,Self-employed,Divorced,Yes,No,Education,No,1
19,F7487UU2BF,41.0,123419.0,161146.0,376,65,4,16.96,60,0.39,High School,Self-employed,Single,Yes,No,Other,Yes,0
20,7ASF0IHRIT,61.0,30142.0,133714.0,429,96,1,15.58,12,0.65,PhD,Part-time,Divorced,No,Yes,Business,No,0
21,A22KI1B6SE,47.0,146113.0,100621.0,419,55,1,9.32,12,0.38,Bachelor's,Unemployed,Married,Yes,Yes,Business,No,0
22,1MUSHWD9TW,55.0,132058.0,130912.0,583,48,4,5.82,60,0.47,High School,Unemployed,Married,No,Yes,Business,Yes,0
23,LXK7UEMLK0,19.0,118989.0,123300.0,528,73,3,15.29,36,0.22,PhD,Part-time,Single,Yes,No,Business,Yes,1
24,995RE1TIB4,38.0,56848.0,168918.0,468,73,1,19.10,24,0.22,Bachelor's,Unemployed,Single,No,No,Education,No,0
25,D17PDP8LBL,50.0,81649.0,78193.0,839,110,1,21.41,48,0.50,Master's,Part-time,Married,Yes,No,Business,Yes,0
26,C35RYEXWJ0,29.0,114651.0,197648.0,343,58,3,21.07,24,0.19,Bachelor's,Part-time,Married,Yes,No,Home,Yes,0
27,G8AIMX5E52,39.0,17633.0,167105.0,514,62,3,7.86,36,0.66,High School,Full-time,Single,Yes,Yes,Auto,Yes,1
28,BJNLQ0H95H,61.0,62519.0,29676.0,462,16,1,23.91,48,0.12,Bachelor's,Unemployed,Divorced,Yes,No,Home,Yes,0
29,YIGLFWKNH5,42.0,141412.0,197764.0,580,57,2,10.18,12,0.19,Bachelor's,Full-time,Married,No,No,Education,No,0
30,GAA8OQN796,NaN,39568.0,58945.0,604,37,4,6.67,12,0.10,High School,Unemployed,Divorced,Yes,Yes,Auto,Yes,0
31,P3EX8G0AYT,44.0,100284.0,225403.0,551,31,1,18.77,36,0.17,Master's,Unemployed,Divorced,No,Yes,Business,Yes,1
32,KD97QJJFD8,59.0,102292.0,55337.0,840,6,1,16.11,60,0.44,Master's,Unemployed,Married,Yes,No,Auto,No,0
33,O8G74YT5W3,45.0,85673.0,48773.0,787,103,4,22.42,24,0.82,PhD,Full-time,Divorced,No,No,Education,Yes,0
34,1CW0O8WTLF,33.0,92448.0,66282.0,607,39,1,11.31,12,0.43,Bachelor's,Part-time,Divorced,Yes,No,Home,Yes,0
35,PBQO9E6L9D,32.0,102178.0,179279.0,669,51,2,14.98,12,0.78,Master's,Self-employed,Single,Yes,No,Home,Yes,0
36,8NTWNU4HTY,64.0,102463.0,218433.0,506,24,2,9.23,60,0.86,Master's,Unemployed,Married,No,No,Auto,Yes,0
37,ASYFXCP452,68.0,85409.0,44772.0,540,105,1,2.96,36,0.17,Master's,Unemployed,Divorced,No,NaN,Auto,No,0
38,4857M8R0YI,61.0,26470.0,19818.0,695,47,2,20.00,36,0.69,PhD,Unemployed,Divorced,Yes,Yes,Auto,Yes,0
39,5FENBP2UV8,69.0,87295.0,16281.0,707,94,1,13.82,60,0.75,Bachelor's,Part-time,Single,No,No,Other,No,0
40,EGBQ6R80VB,20.0,139321.0,43049.0,458,117,2,7.16,36,0.53,Master's,Self-employed,Single,Yes,No,Home,No,1
41,RT511ZZNF2,54.0,21487.0,84115.0,386,32,2,20.89,60,0.78,PhD,Unemployed,Married,Yes,Yes,Business,Yes,0
42,KAC7P2RE1X,68.0,111716.0,215851.0,747,99,3,18.84,60,0.40,High School,Unemployed,Divorced,No,Yes,Home,No,0
43,XG5WPXX0TY,24.0,105732.0,33013.0,400,58,3,15.64,36,0.48,High School,Full-time,Married,Yes,Yes,Auto,Yes,0
44,2XUD7N4OJ1,38.0,73117.0,221628.0,639,84,4,13.05,36,0.56,Bachelor's,Part-time,Married,No,Yes,Home,Yes,0
45,2O7VM6EN0D,26.0,125268.0,67671.0,795,72,3,11.42,12,0.30,High School,Self-employed,Single,No,No,Business,No,0
46,Z7UFZIW3MK,56.0,24796.0,37657.0,498,88,1,8.20,48,0.73,High School,Part-time,Married,Yes,Yes,Auto,No,0
47,RSP1YD80Z7,35.0,95963.0,77552.0,560,8,2,6.63,24,0.86,Master's,Self-employed,Divorced,Yes,Yes,Home,No,1
48,AFJTOPMFJV,21.0,16170.0,66883.0,505,27,1,4.41,48,0.42,PhD,Self-employed,Single,No,Yes,Education,No,0
49,LMQOF5PTTT,42.0,143244.0,240591.0,393,96,3,23.15,36,0.16,High School,Self-employed,Married,No,Yes,Business,No,0

In [5]:
df[]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          255347 non-null  object
 1   Age             255326 non-null  float64
 2   Income          255296 non-null  float64
 3   LoanAmount      255346 non-null  float64
 4   CreditScore     255347 non-null  int64
 5   MonthsEmployed  255347 non-null  int64
 6   NumCreditLines  255347 non-null  int64
 7   InterestRate    255347 non-null  float64
 8   LoanTerm        255347 non-null  int64
 9   DTIRatio        255346 non-null  float64
 10  Education       255333 non-null  object
 11  EmploymentType  255347 non-null  object
 12  MaritalStatus   255321 non-null  object
 13  HasMortgage     255332 non-null  object
 14  HasDependents   255322 non-null  object
 15  LoanPurpose     255313 non-null  object
 16  HasCoSigner     255335 non-null  object
 17  Default         255347 non-null  int64
dtypes: float64(5), int64(5), object(8)
memory usage: 35.1+ MB

In [19]:
df.describe()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Default
count,255326.000000,255296.000000,255346.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255346.000000,255347.000000
mean,43.498081,82502.507489,127579.294917,574.264346,59.541976,2.501036,13.492773,36.025894,0.500212,0.116128
std,14.990391,38963.477600,70840.512539,158.903867,34.643376,1.117018,6.636443,16.969330,0.230917,0.320379
min,18.000000,15000.000000,5000.000000,300.000000,0.000000,1.000000,2.000000,12.000000,0.100000,0.000000
25%,31.000000,48826.000000,66156.250000,437.000000,30.000000,2.000000,7.770000,24.000000,0.300000,0.000000
50%,43.000000,82470.500000,127556.500000,574.000000,60.000000,2.000000,13.460000,36.000000,0.500000,0.000000
75%,56.000000,116220.750000,188985.500000,712.000000,90.000000,3.000000,19.250000,48.000000,0.700000,0.000000
max,69.000000,149999.000000,249999.000000,849.000000,119.000000,4.000000,25.000000,60.000000,0.900000,1.000000

### Data Cleansing

In [20]:
df.drop('LoanID',axis= 1, inplace= True)
df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,56.0,85994.0,50587.0,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,69.0,50432.0,124440.0,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,46.0,84208.0,129188.0,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,32.0,31713.0,44799.0,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,60.0,20437.0,9139.0,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,NaN,0

In [21]:
df['EmploymentType'].unique()

array(['Full-time', 'Unemployed', 'Self-employed', 'Part-time'],
      dtype=object)

In [22]:
# convort the categorical into numerical 
from sklearn.preprocessing import LabelEncoder

df['Education'] = LabelEncoder().fit_transform(df['Education'])
df['EmploymentType'] = LabelEncoder().fit_transform(df['EmploymentType'])
df['MaritalStatus'] = LabelEncoder().fit_transform(df['MaritalStatus'])
df['HasMortgage'] = LabelEncoder().fit_transform(df['HasMortgage'])
df['HasDependents'] = LabelEncoder().fit_transform(df['HasDependents'])
df['LoanPurpose'] = LabelEncoder().fit_transform(df['LoanPurpose'])
df['HasCoSigner'] = LabelEncoder().fit_transform(df['HasCoSigner'])

In [23]:
df.head(50)

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,56.0,85994.0,50587.0,520,80,4,15.23,36,0.44,0,0,0,1,1,4,1,0
1,69.0,50432.0,124440.0,458,15,1,4.81,60,0.68,2,0,1,0,0,4,1,0
2,46.0,84208.0,129188.0,451,26,3,21.17,24,0.31,2,3,0,1,1,0,0,1
3,32.0,31713.0,44799.0,743,0,3,7.07,24,0.23,1,0,1,0,0,1,0,0
4,60.0,20437.0,9139.0,633,8,4,6.51,48,0.73,0,3,0,0,1,0,2,0
5,25.0,90298.0,90448.0,720,18,2,22.72,24,0.10,1,3,3,1,0,1,1,1
6,38.0,111188.0,177025.0,429,80,1,19.11,12,0.16,4,3,2,1,0,3,1,0
7,56.0,126802.0,155511.0,531,67,4,8.15,60,0.43,3,0,1,0,0,3,1,0
8,36.0,42053.0,92357.0,827,83,1,23.94,48,0.20,0,2,0,1,0,2,0,1
9,40.0,132784.0,228510.0,480,114,4,9.09,48,0.33,1,2,1,1,0,4,1,0
10,28.0,140466.0,163781.0,652,94,2,9.08,48,0.23,1,3,1,2,0,2,0,0
11,28.0,149227.0,139759.0,375,56,3,5.84,36,0.80,3,0,0,0,0,2,1,1
12,41.0,23265.0,63527.0,829,87,4,9.73,60,0.45,2,0,0,1,0,5,1,0
13,53.0,117550.0,95744.0,395,112,4,3.58,24,0.73,1,3,2,0,0,0,1,0
14,57.0,139699.0,88143.0,635,112,4,5.63,48,0.20,2,1,0,0,0,3,0,0
15,41.0,74064.0,230883.0,432,31,2,5.00,60,0.89,2,3,1,1,0,0,0,0
16,20.0,119704.0,25697.0,313,49,1,9.63,24,0.28,3,3,2,1,0,3,0,0
17,39.0,NaN,10889.0,811,106,2,13.56,60,0.66,2,2,2,1,0,4,0,0
18,19.0,40718.0,78515.0,319,119,2,14.00,24,0.17,0,2,0,1,0,2,0,1
19,41.0,123419.0,161146.0,376,65,4,16.96,60,0.39,1,2,2,1,0,4,1,0
20,61.0,30142.0,133714.0,429,96,1,15.58,12,0.65,3,1,0,0,1,1,0,0
21,47.0,146113.0,100621.0,419,55,1,9.32,12,0.38,0,3,1,1,1,1,0,0
22,55.0,132058.0,130912.0,583,48,4,5.82,60,0.47,1,3,1,0,1,1,1,0
23,19.0,118989.0,123300.0,528,73,3,15.29,36,0.22,3,1,2,1,0,1,1,1
24,38.0,56848.0,168918.0,468,73,1,19.10,24,0.22,0,3,2,0,0,2,0,0
25,50.0,81649.0,78193.0,839,110,1,21.41,48,0.50,2,1,1,1,0,1,1,0
26,29.0,114651.0,197648.0,343,58,3,21.07,24,0.19,0,1,1,1,0,3,1,0
27,39.0,17633.0,167105.0,514,62,3,7.86,36,0.66,1,0,2,1,1,0,1,1
28,61.0,62519.0,29676.0,462,16,1,23.91,48,0.12,0,3,0,1,0,3,1,0
29,42.0,141412.0,197764.0,580,57,2,10.18,12,0.19,0,0,1,0,0,2,0,0
30,NaN,39568.0,58945.0,604,37,4,6.67,12,0.10,1,3,0,1,1,0,1,0
31,44.0,100284.0,225403.0,551,31,1,18.77,36,0.17,2,3,0,0,1,1,1,1
32,59.0,102292.0,55337.0,840,6,1,16.11,60,0.44,2,3,1,1,0,0,0,0
33,45.0,85673.0,48773.0,787,103,4,22.42,24,0.82,3,0,0,0,0,2,1,0
34,33.0,92448.0,66282.0,607,39,1,11.31,12,0.43,0,1,0,1,0,3,1,0
35,32.0,102178.0,179279.0,669,51,2,14.98,12,0.78,2,2,2,1,0,3,1,0
36,64.0,102463.0,218433.0,506,24,2,9.23,60,0.86,2,3,1,0,0,0,1,0
37,68.0,85409.0,44772.0,540,105,1,2.96,36,0.17,2,3,0,0,2,0,0,0
38,61.0,26470.0,19818.0,695,47,2,20.00,36,0.69,3,3,0,1,1,0,1,0
39,69.0,87295.0,16281.0,707,94,1,13.82,60,0.75,0,1,2,0,0,4,0,0
40,20.0,139321.0,43049.0,458,117,2,7.16,36,0.53,2,2,2,1,0,3,0,1
41,54.0,21487.0,84115.0,386,32,2,20.89,60,0.78,3,3,1,1,1,1,1,0
42,68.0,111716.0,215851.0,747,99,3,18.84,60,0.40,1,3,0,0,1,3,0,0
43,24.0,105732.0,33013.0,400,58,3,15.64,36,0.48,1,0,1,1,1,0,1,0
44,38.0,73117.0,221628.0,639,84,4,13.05,36,0.56,0,1,1,0,1,3,1,0
45,26.0,125268.0,67671.0,795,72,3,11.42,12,0.30,1,2,2,0,0,1,0,0
46,56.0,24796.0,37657.0,498,88,1,8.20,48,0.73,1,1,1,1,1,0,0,0
47,35.0,95963.0,77552.0,560,8,2,6.63,24,0.86,2,2,0,1,1,3,0,1
48,21.0,16170.0,66883.0,505,27,1,4.41,48,0.42,3,2,2,0,1,2,0,0
49,42.0,143244.0,240591.0,393,96,3,23.15,36,0.16,1,2,1,0,1,1,0,0

In [10]:
df.corr()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
Age,1.000000,-0.001221,-0.002213,-0.000559,-0.000318,-0.000883,-0.001115,0.000260,-0.004662,-0.000810,0.000753,-0.002207,0.000064,0.000644,0.002260,-0.002962,-0.167799
Income,-0.001221,1.000000,-0.000866,-0.001400,0.002694,-0.002071,-0.002301,-0.001033,0.000224,-0.000982,-0.005146,0.000609,-0.000876,-0.001571,-0.002022,-0.003614,-0.099144
LoanAmount,-0.002213,-0.000866,1.000000,0.001260,0.002814,0.000792,-0.002290,0.002534,0.001118,0.002566,0.003052,-0.000805,-0.000745,0.000085,0.000033,-0.001830,0.086657
CreditScore,-0.000559,-0.001400,0.001260,1.000000,0.000613,0.000016,0.000436,0.001130,-0.001039,0.000190,0.003503,-0.003251,0.001645,-0.002978,0.000541,-0.002723,-0.034166
MonthsEmployed,-0.000318,0.002694,0.002814,0.000613,1.000000,0.001267,0.000096,-0.001166,0.001765,-0.001291,0.000564,-0.000140,0.000185,0.001611,-0.002552,0.001038,-0.097374
NumCreditLines,-0.000883,-0.002071,0.000792,0.000016,0.001267,1.000000,-0.000297,-0.000226,-0.000586,0.002669,0.000219,-0.000634,-0.001800,-0.001990,0.000403,0.002108,0.028330
InterestRate,-0.001115,-0.002301,-0.002290,0.000436,0.000096,-0.000297,1.000000,0.000892,0.000575,0.002863,0.000525,-0.005127,-0.000390,-0.000364,0.001438,-0.003973,0.131273
LoanTerm,0.000260,-0.001033,0.002534,0.001130,-0.001166,-0.000226,0.000892,1.000000,0.002273,-0.003023,0.000779,-0.001106,0.001702,0.002532,0.002906,-0.001161,0.000545
DTIRatio,-0.004662,0.000224,0.001118,-0.001039,0.001765,-0.000586,0.000575,0.002273,1.000000,0.001787,-0.000578,0.004478,0.000162,0.001574,-0.003815,0.000346,0.019236
Education,-0.000810,-0.000982,0.002566,0.000190,-0.001291,0.002669,0.002863,-0.003023,0.001787,1.000000,0.000289,-0.004735,0.001231,0.001087,-0.003240,0.001725,-0.022804
EmploymentType,0.000753,-0.005146,0.003052,0.003503,0.000564,0.000219,0.000525,0.000779,-0.000578,0.000289,1.000000,0.002682,0.001242,0.002440,0.000698,0.000033,0.041010
MaritalStatus,-0.002207,0.000609,-0.000805,-0.003251,-0.000140,-0.000634,-0.005127,-0.001106,0.004478,-0.004735,0.002682,1.000000,-0.000417,-0.000542,0.001341,-0.000878,-0.007872
HasMortgage,0.000064,-0.000876,-0.000745,0.001645,0.000185,-0.001800,-0.000390,0.001702,0.000162,0.001231,0.001242,-0.000417,1.000000,0.000246,-0.002142,-0.003441,-0.022919
HasDependents,0.000644,-0.001571,0.000085,-0.002978,0.001611,-0.001990,-0.000364,0.002532,0.001574,0.001087,0.002440,-0.000542,0.000246,1.000000,-0.003799,0.001538,-0.034743
LoanPurpose,0.002260,-0.002022,0.000033,0.000541,-0.002552,0.000403,0.001438,0.002906,-0.003815,-0.003240,0.000698,0.001341,-0.002142,-0.003799,1.000000,-0.001826,-0.010120
HasCoSigner,-0.002962,-0.003614,-0.001830,-0.002723,0.001038,0.002108,-0.003973,-0.001161,0.000346,0.001725,0.000033,-0.000878,-0.003441,0.001538,-0.001826,1.000000,-0.039106
Default,-0.167799,-0.099144,0.086657,-0.034166,-0.097374,0.028330,0.131273,0.000545,0.019236,-0.022804,0.041010,-0.007872,-0.022919,-0.034743,-0.010120,-0.039106,1.000000

In [11]:
df.columns

Index(['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'LoanTerm', 'DTIRatio', 'Education',
       'EmploymentType', 'MaritalStatus', 'HasMortgage', 'HasDependents',
       'LoanPurpose', 'HasCoSigner', 'Default'],
      dtype='object')

array([0, 3, 2, 1])

### Split the data set into x and y

In [2]:
x = df[['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'DTIRatio', 'Education',
       'EmploymentType', 'HasMortgage', 'HasDependents',
       'LoanPurpose', 'HasCoSigner']]
print(x.head())
y = df['Default']
y.head()
y.value_counts()

NameError: name 'df' is not defined

### Split the data into training and testing dataset

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size= 0.7, random_state=12350)

# Built the Logistic Regression model

In [13]:
def model_LG():
    from sklearn.linear_model import LogisticRegressionCV
 
    model_lg = LogisticRegressionCV().fit(x_train, y_train)
    return model_lg

# Built the Naive Bayes

In [14]:
def model_NB():
    from sklearn.naive_bayes import GaussianNB

    model_nb = GaussianNB().fit(x_train, y_train)
    return model_nb

# Built the KNN model

In [15]:
def model_KNN():
    from sklearn.neighbors import KNeighborsClassifier

    model_knn = KNeighborsClassifier().fit(x_train, y_train)
    return model_knn

# Built the Support Vector Machine

In [16]:
def model_SVM():
    from sklearn.svm import SVC

    model_svm = SVC(C=3.0).fit(x_train, y_train)
    return model_svm

# Built the Decison tree model

In [17]:
def model_DT():
    from sklearn.tree import DecisionTreeClassifier

    model_dt = DecisionTreeClassifier().fit(x_train, y_train)
    return model_dt

# Built the model for Random forest

In [18]:
def model_Rand_forest():
    from sklearn.ensemble import RandomForestClassifier

    model_rand_forest = RandomForestClassifier().fit(x_train, y_train)
    
    return model_rand_forest

In [19]:
def model_evaluate(model, model_name):
    from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score,f1_score
    
    
    Accuracy = accuracy_score(y_test, model.predict(x_test))
    Precision = precision_score(y_test, model.predict(x_test),average='macro')
    Recall = recall_score(y_test, model.predict(x_test),average='macro')
    f1_Score = f1_score(y_test, model.predict(x_test),average='macro')

    return model_name,Accuracy,Precision,Recall,f1_Score

In [20]:
models = [(model_LG(),"LogisticRegression",(0,0)),(model_KNN(), "KNeighborsClassifier",(0,1)),
          (model_NB(),"Naive Bayes",(1,0)),(model_SVM(),"Support Vector Machine",(1,1)),
          (model_DT(),"DecisionTreeClassifier",(2,0)),(model_Rand_forest(),"RandomForest",(2,1))]

/home/sunbeam/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/sunbeam/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/sunbeam/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/sunbeam/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/sunbeam/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/sunbeam/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Model Evaluation

In [23]:
Results = []
for model,model_name,_ in models:
    Results.append(model_evaluate(model, model_name))

/home/sunbeam/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [24]:
df1 = pd.DataFrame(Results,columns=['Algorithm','Accuracy', 'Precision', 'Recall', 'F1_Score'])
df1

                Algorithm  Accuracy  Precision    Recall  F1_Score
0      LogisticRegression  0.883428   0.744265  0.514598  0.499324
1    KNeighborsClassifier  0.871888   0.573191  0.514774  0.505773
2             Naive Bayes  0.882880   0.815454  0.504548  0.478267
3  Support Vector Machine  0.882136   0.441068  0.500000  0.468689
4  DecisionTreeClassifier  0.801123   0.546789  0.552388  0.549085
5            RandomForest  0.884342   0.754507  0.521881  0.513365

In [29]:
from sklearn.metrics import classification_report

print(classification_report(y_test, model_Rand_forest().predict(x_test)))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94     67576
           1       0.63      0.04      0.08      9029

    accuracy                           0.88     76605
   macro avg       0.76      0.52      0.51     76605
weighted avg       0.86      0.88      0.84     76605

print()